<div>
  <% form.fields_for :feed do |feed_form|%>
    <div>
      <%= feed_form.label :url, 'Rss Feed' %>
      <%= feed_form.text_field :url %>
    </div>
    <div>
      <%= feed_form.label :title, 'Rss Feed' %>
      <%= feed_form.text_field :title %>
    </div>
  <% end %>
</div>
