// Place all the styles related to the mail_digests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  display: flex;
  flex-direction: column;
}

header {
  padding: 10px 16px;
}

.sticky {
  position: fixed;
  top: 0px;
  width: 100%;
}

.main-content {
  flex: 1 auto;
  visibility: visible;
  padding: 16px;
}

.sticky + .content {
  padding-top: 102px;
}

table {
  display: grid;
  border-collapse: collapse;
  min-width: 100%;
  grid-template-columns: 
    minmax(2em, 1fr)
    minmax(0.5em, 1fr)
    minmax(0.5em, 1fr)
    minmax(0.5em, 1fr)
}

thead,
tbody,
tr {
  display: contents;
}

th,
td {
  padding: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

th {
  position: sticky;
  top: 0;
  background: #6c7ae0;
  text-align: left;
  font-weight: normal;
  font-size: 1.1rem;
  color: white;
}

th:last-child {
  border: 0;
}

td {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #808080;
}

tr:nth-child(even) td {
  background: #f8f6ff;
}


/* Element | http://localhost:3000/mail_digests/1 */

.digest-title {
  margin: 2em;
}

/* Element | http://localhost:3000/mail_digests/1 */

.feed-content {
  margin-left: 2em;
  margin-right: auto;
  word-wrap: break-word;
}
